
body {
    background-image:url("/assets/images/background.jpg");
    background-size:cover;
    height:100vh;
}

.title {
    font-family: 'VT323', monospace;
    color:ivory;
    font-size: 80px;
}

.button {
    border-radius: 35px;
    background-color:dodgerblue;
    color:white;


}

button:hover {
    background-color:white;
    color:blue;
}

#spinner-1 {width: 100px}

