html {
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 100vh;
    padding-top: 85px;
}
/* homepage */
.title {
    font-family: 'VT323', monospace;
    color: ivory;
    font-size: 80px;
}
#explanation {
    font-family: 'VT323', monospace;
    color: ivory;
    font-size: 20px;
}
/* End homepage */

#city::placeholder{
    color: black;
}
.button {
    border-radius: 35px;
    background-color: dodgerblue;
    border: none;
    color: white;
    width: 150px;
}

button:hover {
    background-color: white;
    color: blue;
}

/* Card styling */
.card {
    display: block;
    width: 350px;
    font-family: 'VT323', monospace;
    margin: 10px;
    padding: 10px;
    opacity: 10px;
    background-color: #EBECE4;
}

#cardTitle {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#cardRating {
    font-weight: bold;
    font-size: 20px;
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    width: 200px;
}
#cardAddress {
    font-weight: bold;
    font-size: 20px;
}
#cardStatus {
    font-weight: bold;
    font-size: 20px;
}
/* End Card Styling */

/* Start over button */
#start-over-container {
    text-align: center;
}
#startover {
    display: none;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* End Start over button */

.select,
select{
    width:100%;
}
/* Favorite locations styling */
.favoritelocations{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-right: 7px;
    width: auto;
}
#favloca {
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    color: ivory;
}
/* End Favorite locations styling */