
body {
    background-image:url("../images/background.jpg");
    background-size:cover;
    height:100vh;
}

.title {
    font-family: 'VT323', monospace;
    color:ivory;
    font-size: 80px;
}

.button {
    border-radius: 35px;
    background-color:dodgerblue;
    color:white;


}

button:hover {
    background-color:white;
    color:blue;
}

#spinner-1 {width: 100px}

#state {
    color: lightgrey;
}

.state-selected {/*style the arrow inside the select element:*/
    .state-selected:after {
      position: absolute;
      content:"";
      top:14px;
      right:10px;
      width:0;
      height:0;
      border:6px solid transparent;
      border-color:#fff transparent transparent transparent;
    }
      background-color: DodgerBlue;
    }

/*style the arrow inside the select element:*/
.state-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }